:root {
	--outer_width: 1200px;
	--content_columns: 2;
	--content_padding: 10px;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14pt;
	background-color: #F0F0F0;
	padding: 0;
	margin: 0;
	min-width: 330px;
	border:#448855,20px,solid;
}

#content {
	max-width: var(--outer_width);
	margin: auto;
}

.bottomLine {
	padding-bottom: 20px;
	border-bottom: #777 solid 1px;
	margin-bottom: 20px;
}

#title {
	font-size: 48px;
	background-color: #448855;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
}
.textBlock {
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 10px 20px 10px;
	max-width: var(--outer_width);
}
ul {
	margin: 0;
}

.categoryTitle {
	font-size: 48px;
	color: #111111;
	text-align: center;
	padding: 20px;
}
.category {
	margin: 10px;
}
.outer {
	max-width: var(--outer_width);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	gap: 20px;
}
.box {
	margin-left: auto;
	margin-right: auto;
	padding: var(--content_padding);
	max-width: 500px;

	/* color: black;
	background: #DDDDDD;
	border-radius: 10px;
	border: #555555 solid 3px; */
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	column-gap: 100%;
}

.projectName {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
}
.date {
	font-weight: normal;
	color: #777;
}
.projectType {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	color: #777;
}
.thumbnail {
	display: block;
	max-width: calc(100% - 20px);
	max-height: 300px;
	margin: auto;
	padding: 10px;
	border-radius: 20px;
	flex-shrink: 3;
}
.description {
	font-size: 14pt;
	margin: 10px;
	text-align: justify;
}